{% extends "base.html" %} {% block title %}Sprzedaż Lokalu{% endblock %} {% block content
%}




<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/WpiszKW/styleCon.css">
    <!-- Include jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include jQuery Easing Plugin AFTER jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    {% if RodzajUmowy == "sprzedaz" %}
    <script src="./static/WpiszKW/validateForm.js"></script>
    <script src="./static/WpiszKW/validateFormNOMSG.js"></script>
    
    
    <script src="./static/WpiszKW/FormKwNext.js"></script>
    {% else %}
    <script src="./static/WpiszKW/FormKwNextForum.js"></script>
    {% endif %}


   


    
    <script src="./static/WpiszKW/ObliczKontrolna.js"></script>
    <script src="./static/WpiszKW/addZeros.js"></script>
    <link rel="stylesheet" href="./static/styleChat.css">
    <link rel="stylesheet" href="./static/downloadbuttom.css">
    

</head>


<div class="message-box">
    <h2>Chat Room: {{room}}</h2>
    <h3>email: {{email}}</h3>
    
    <h5>Name: {{name}}</h5>
    <h6>RodzajUmowy: {{RodzajUmowy}}</h6>

    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text"
               rows="3"
               placeholder="Message"
               name="message"
               id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send
        </button>
    </div>
</div>


{% if RodzajUmowy == "sprzedaz" %}

<script type="text/javascript">
    var socketio = io();
    var jestemVariable = false;

    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
        const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;

    const containsSubstring = msg.includes("jestem");
    const containsLeft = msg.includes("Left");
    const containsKolejka = msg.includes("KOLEJKA");
    const containsElo = msg.includes("elo");
    const containsHHTP = msg.includes("HHTP");

    const divToReplace = document.querySelector('.footer_divider.grad_pb');
    var alertElement = document.querySelector('.alert-warning[style="display: none;"]');
    var infoElement = document.querySelector('.alert-info[style="display: none;"]');

  


    if (containsElo) {
      const originalStyle = infoElement.getAttribute('style');

// Remove the style attribute
infoElement.removeAttribute('style');

// After 5 seconds, set the original style attribute back
setTimeout(function() {
  infoElement.setAttribute('style', originalStyle);
}, 5000); // 5000 milliseconds (5 seconds)
}

    if (containsSubstring) {
    jestemVariable = true; // Set the global variable to true if the message contains "jestem"
  }



  if (containsHHTP) {             //NIE DZIAŁĄ !

     
          replaceDivWithButton();
  
} 
  

  if (containsLeft) {

    const originalStyle = alertElement.getAttribute('style');

// Remove the style attribute
alertElement.removeAttribute('style');

// After 5 seconds, set the original style attribute back
setTimeout(function() {
  alertElement.setAttribute('style', originalStyle);
}, 5000); // 5000 milliseconds (5 seconds)

    // Remove the 'style' attribute to display the element  
  }


  if (containsKolejka) {
  const match = msg.match(/KOLEJKA.*?\((\d+)\)/); // Extract the number in parentheses
  const numberInParentheses = match[1]; // Get the captured number
  console.log("Found number in parentheses:", numberInParentheses);
  
  if (numberInParentheses > 0) {
    var chatDiv = document.getElementById("chat1");
        chatDiv.style.removeProperty("display");
        var contactNameElement = chatDiv.querySelector(".contact_nameKolejka");
        
    contactNameElement.textContent = "Twoja pozycja w kolejce to:"  + numberInParentheses ;
  }
}
        messages.innerHTML += content;

    };



  

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
    
        const form = document.getElementById("msform"); // Replace with your form's ID
        const formData = new FormData(form);
        const umowa = document.getElementById("umowa");
        const UmowaValue = "++" + umowa.value + "@"; // Use 'umowa' instead of 'input3'

        // Check if any input values are empty before sending the message
        if (Array.from(formData.values()).some(value => value.trim() === "")) {
            return;
        }

        // Create a message that includes the values from all input elements and 'UmowaValue'
        const messageValues = Array.from(formData.entries()).map(([key, value]) => {
            return "%" + value + "%"; // Customize the format as needed
        });

        // Add 'UmowaValue' to the array of message values
        messageValues.push(UmowaValue);

        // Join all values into a single message string
        const message = messageValues.join(", ");

        // Send the message via socket.io
        socketio.emit("message", { data: message });
   
};



</script>

{% else %}

<script type="text/javascript">
  var socketio = io();
  var jestemVariable = false;

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
      const content = `
  <div class="text">
      <span>
          <strong>${name}</strong>: ${msg}
      </span>
      <span class="muted">
          ${new Date().toLocaleString()}
      </span>
  </div>
  `;

  const containsSubstring = msg.includes("jestem");
  const containsLeft = msg.includes("Left");
  const containsKolejka = msg.includes("KOLEJKA");
  const containsElo = msg.includes("elo");
  const containsHHTP = msg.includes("HHTP");

  var alertElement = document.querySelector('.alert-warning[style="display: none;"]');
  var infoElement = document.querySelector('.alert-info[style="display: none;"]');




  if (containsElo) {
    const originalStyle = infoElement.getAttribute('style');

// Remove the style attribute
infoElement.removeAttribute('style');

// After 5 seconds, set the original style attribute back
setTimeout(function() {
infoElement.setAttribute('style', originalStyle);
}, 5000); // 5000 milliseconds (5 seconds)
}

  if (containsSubstring) {
  jestemVariable = true; // Set the global variable to true if the message contains "jestem"
}

if (containsLeft) {

  const originalStyle = alertElement.getAttribute('style');

// Remove the style attribute
alertElement.removeAttribute('style');

// After 5 seconds, set the original style attribute back
setTimeout(function() {
alertElement.setAttribute('style', originalStyle);
}, 5000); // 5000 milliseconds (5 seconds)

  // Remove the 'style' attribute to display the element  
}

if (containsHHTP) {             //NIE DZIAŁĄ !
  function replaceDivWithButton() {
  const divToReplace = document.querySelector('.footer_divider.grad_pb');

  var sucessElement = document.querySelector('.alert-success[style="display: none;"]');

  if (divToReplace) {
      // Create a new form element
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/download_files';

      // Create an input element for folder_name
      const folderNameInput = document.createElement('input');
      folderNameInput.type = 'hidden';
      folderNameInput.name = 'folder_name';
      folderNameInput.value = '{{room}}';

      // Create a button element
      const button = document.createElement('button');
      button.type = 'submit';
      button.className = 'btn-grad';
      button.textContent = 'Pobierz'; 
      

      // Append the input and button to the form
      form.appendChild(folderNameInput);
      form.appendChild(button);

      // Replace the div with the form
      divToReplace.replaceWith(form);
      const originalStyle = alertElement.getAttribute('style');

// Remove the style attribute
sucessElement.removeAttribute('style');

// After 5 seconds, set the original style attribute back
setTimeout(function() {
  sucessElement.setAttribute('style', originalStyle);
}, 5000); // 5000 milliseconds (5 seconds)


  }

  
}


     
replaceDivWithButton();

} 


if (containsKolejka) {
const match = msg.match(/KOLEJKA.*?\((\d+)\)/); // Extract the number in parentheses
const numberInParentheses = match[1]; // Get the captured number
console.log("Found number in parentheses:", numberInParentheses);

if (numberInParentheses > 0) {
  var chatDiv = document.getElementById("chat1");
      chatDiv.style.removeProperty("display");
      var contactNameElement = chatDiv.querySelector(".contact_nameKolejka");
      
  contactNameElement.textContent = "Twoja pozycja w kolejce to:"  + numberInParentheses ;
}
}
      messages.innerHTML += content;

  };





  socketio.on("message", (data) => {
      createMessage(data.name, data.message);
  });

  const sendMessage = () => {
  
      const form = document.getElementById("msform"); // Replace with your form's ID
      const formData = new FormData(form);
      const umowa = document.getElementById("umowa");
      const UmowaValue = "++" + umowa.value + "@"; // Use 'umowa' instead of 'input3'



      // Create a message that includes the values from all input elements and 'UmowaValue'
      const messageValues = Array.from(formData.entries()).map(([key, value]) => {
          return "%" + value + "%"; // Customize the format as needed
      });

      // Add 'UmowaValue' to the array of message values
      messageValues.push(UmowaValue);

      // Join all values into a single message string
      const message = messageValues.join(", ");

      // Send the message via socket.io
      socketio.emit("message", { data: message });
  
};



</script>

{% endif %}





{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}

<input type="hidden" id="umowa" name="umowa" value= {{RodzajUmowy}} >


<!-- multistep form -->
<form id="msform" class="msform5">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Wpisz Dane</li>
        <li>Połącz się z serwerem</li>
        <li>Poczekaj i odbierz</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <header class="app-header" style="padding:1vh;">
      <span class="app-subheading" style="font-size: 60%; text-transform: uppercase;">
        <h3 class="fs-subtitle">{{RodzajUmowy}}</h3>
      </span>
      </header>

        {% if user.is_authenticated %}

        <input type="text" id="Email" name="email" placeholder="Email" value="{{email}}" readonly/>

        {% else %}

        <input type="text" id="Email" name="email" placeholder="Email" />

        {% endif %}
        


        {% if RodzajUmowy == "sprzedaz" %}

        <input type="text" name="input1" id="input1" placeholder="Znak Wydziału Sądu" oninput="this.value = this.value.toUpperCase(); calculateKontrolna();" />
        <input type="text" name="input2" id="input2" placeholder="Numer Księgi Wieczystej" oninput="calculateKontrolna();" onblur="addLeadingZeros();" />


        {% else %}
        
        <input type="text" name="input1" id="input1" placeholder="Nazwa Funduszu" list="Fundusz">
        <datalist id="Fundusz">
          <option>FORUM IV Fundusz Inwestycyjny Zamknięty</option>
          <option>MRÓWKA CAPITAL Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM IX Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM X Fundusz Inwestycyjny Zamknięty</option>
          <option>COMARCH CORPORATE FINANCE Fundusz Inwestycyjny Zamknięty</option>
          <option>SKALSKI Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XVII Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XVIII Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXIII Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXVI Fundusz Inwestycyjny Zamknięty</option>
          <option>GIOVANNI Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXVIII Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXIX Fundusz Inwestycyjny Zamknięty</option>
          <option>GOLUB GETHOUSE PROPERTY FUND Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXXII Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM XXXIV Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 38 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 40 Fundusz Inwestycyjny Zamknięty</option>
          <option>SPD Fundusz Inwestycyjny Zamknięty</option>
          <option>FAST FINANCE NS Fundusz Inwestycyjny Zamknięty</option>
          <option>POLSKI DEWELOPERSKI Fundusz Inwestycyjny Zamknięty</option>
          <option>ROOT Fundusz Inwestycyjny Zamknięty</option>
          <option>HOIST I NS Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM  46 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 50 Fundusz Inwestycyjny Zamknięty </option>
          <option>LINDORFF I NS Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM SEKTORA NIERUCHOMOŚCI 2 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 49 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 51 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 54 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 55 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 56 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 57 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 58 Fundusz Inwestycyjny Zamknięty </option>
          <option>FORUM 60 Fundusz Inwestycyjny Zamknięty </option>
          <option>MP INWESTORS Fundusz Inwestycyjny Zamknięty AN</option>
          <option>POLISH ALTERNATIVE INVESTMENTS Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 61 Fundusz Inwestycyjny Zamknięty </option>
          <option>FORUM 62 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 64 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 65 Fundusz Inwestycyjny Zamknięty</option>
          <option>INFINITY Fundusz Inwestycyjny Zamknięty </option>
          <option>FORUM 68 Fundusz Inwestycyjny Zamknięty</option>
          <option>Newberg Investment Fundusz Inwestycyjny Zamknięty</option>
          <option>EAC ASSEST Fundusz Inwestycyjny Zamknięty</option>
          <option>Commercial Metals Poland Fundusz Inwestycyjny Zamknięty </option>
          <option>FORUM 70 Fundusz Inwestycyjny Zamknięty</option>
          <option>ANGEL POLAND GROUP Fundusz Inwestycyjny Zamknięty</option>
          <option>HSB INVEST Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 75 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 76 Fundusz Inwestycyjny Zamknięty</option>
          <option>P1 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 77 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 78 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 79 Fundusz Inwestycyjny Zamknięty</option>
          <option>INOPA CAPITAL Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 81 Fundusz Inwestycyjny Zamknięty</option>
          <option>Mrówka Capital II Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 82 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 84 Fundusz Inwestycyjny Zamknięty</option>
          <option>BRYLANT Fundusz Inwestycyjny Zamknięty</option>
          <option>Golub Gethouse Property Fund II Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 87 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 88 Fundusz Inwestycyjny Zamknięty</option>
          <option>AUGEBIT Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 90 Fundusz Inwestycyjny Zamknięty</option>
          <option>GGH HPMG HOTEL INVESTEMNT Fundusz Inwestycyjny Zamknięty (F91)</option>
          <option>FORUM 92 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 93 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 94 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 95 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 96 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 97 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 98 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 99 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 100 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 101 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 102 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 103 Fundusz Inwestycyjny Zamknięty</option>
          <option>FORUM 104 Fundusz Inwestycyjny Zamknięty</option>
                   
        </datalist>
        
        <input type="text" name="input2" id="input2" placeholder="Miejsce Zgromadzenia" list="MiejsceZgromadzenia" >
        <datalist id="MiejsceZgromadzenia">
          <option>w Kancelarii Notarialnej notariusza Radosława Chorabika, pod adresem 31-060 Kraków, Plac Wolnica numer 11/1 </option>
          <option>w siedzibie Towarzystwa, pod adresem ul. Wadowicka 3C, 30-347 Kraków</option>
    
        </datalist>
        <input type="time" name="input3" id="input3" placeholder="Godzina Zgromadzenia" >
        <input type="text" name="input4" id="input4" placeholder="Podstawa Zwołania" list="PodstawaZwolania">

        
        <datalist id="PodstawaZwolania">
          <option>art. 6 ust. 5 Statutu Funduszu </option>

          
        </datalist>
        <input type="button" name="next3" class="next action-button" value="Dalej">
      </fieldset>
        <fieldset>

        <input type="text" name="input5" id="input5" placeholder="Rodzaj Certyfikatów" list="Certyfikaty">
        <datalist id="Certyfikaty">
          <option>informację o zamiarze udziału w Zgromadzeniu Inwestorów.</option>
          
          <option>świadectwo depozytowe bądź zaświadczenie wydane przez agenta emisji.</option>

          <option>świadectwo depozytowe bądź zaświadczenie wydane przez agenta emisji w przypadku certyfikatów zapisanych w ewidencji lub, w przypadku certyfikatów zdematerializowanych lub informację o zamiarze udziału w Zgromadzeniu Inwestorów w przypadku certyfikatów zapisanych w rejestrze Towarzystwa</option>
        </datalist>
        <input type="text" name="input6" id="input6" placeholder="Termin na Zgłoszenie - podstawa" list="termin">
        <datalist id="termin">
          <option>art. 6 ust. 5 </option>

         
        </datalist>
        
      
        <input type="text" name="input7" id="input7" placeholder="Numery Uchwały Zarządu" >
      

 

     
        
        <input type="text" name="input9" id="input9" placeholder="E-mail dla Funduszu" >
        <input type="text" name="input10" id="input9" placeholder="Komentarz do RB" >
        <input type="button" name="next3" class="next action-button" value="Dalej">
      </fieldset>
        
        <fieldset>
        <input type="text" name="input11" id="input11" placeholder="Zawiadamjający" >
        <input type="text" name="input11" id="input11" placeholder="Stanowisko Zawiadajmajacego" >


     
        <input type="text" name="input12" id="input12" placeholder="Uchwała 1" >
        <input type="text" name="input13" id="input13" placeholder="Uchwała 2" >
        <input type="text" name="input14" id="input14" placeholder="Uchwała 3" >
        <input type="button" name="next3" class="next action-button" value="Dalej">

      </fieldset>
      <fieldset>
        <input type="text" name="input15" id="input15" placeholder="Uchwała 4" >

        <input type="text" name="input16" id="input16" placeholder="Uchwała 5" >
        <input type="text" name="input17" id="input17" placeholder="Uchwała 6" >
        <input type="text" name="input18" id="input18" placeholder="Uchwała 7" >
        <input type="text" name="input19" id="input19" placeholder="Uchwała 8" >
        
      
      


        {% endif %}


        <p id="result"></p>
        {% if RodzajUmowy == "sprzedaz" %}
        <input type="button" name="nextButton33, next, create" class="next action-button" value="Rozpocznij" onClick="sendMessage(); validateForm();" >
        
        
       
        {% else %}
        <input type="button" name="nextButton33, next, create" class="next action-button" value="Rozpocznij" onClick="sendMessage()">
        {% endif %}

        
      </fieldset>

    <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 id="step1-subtitle" class="fs-subtitle">Łączenie z systemem piszącym</h3>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div><br>

        
        <input type="button" name="next, create" class="next2 action-button" value="Next" style="display: none;" />
    </fieldset>

    <fieldset>
        



  

        <div class="chat-container"  id="Chatdata">
            <div class="divider"> </div>
            <div class="phone_body">
               <div class="chat" style="display: none;" id="chat1">
                <img class="chat_avatar" style="background: transparent;" src="./static/queue (2).png">
                 <div class="chat_info">
                   <div class="contact_nameKolejka">Twoja pozycja w kolejce to: </div>
                   <div class="contact_msg">zaczekaj, a pisanie rozpocznie się samo</div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">9:20 PM</div>
                   <div class="chat_new grad_pb"> New </div>
                 </div>
              </div>

              
              <div class="chat" style="display: none;" id="chat2">
                <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Adriano Canofre </div>
                   <div class="contact_msg">:pxdd?</div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">8:12 PM</div>
                   <div class="chat_new grad_pb"> New </div>
                 </div>
              </div>
              
              <div class="chat" style="display: none;" id="chat3">
                <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">3?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                   <div class="chat_new grad_pb"> New </div>
                 </div>
              </div> 
              <div class="chat" style="display: none;" id="chat4">
                <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Adriano Canofre </div>
                   <div class="contact_msg">4?</div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
              
              <div class="chat" style="display: none;" id="chat5">
                <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">5?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
                    <div class="chat" style="display: none;" id="chat6">
                        <img class="chat_avatar" src="./static/robo.avif">

                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">6?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
                    <div class="chat" style="display: none;" id="chat7">
                        <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">7?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
                    <div class="chat" style="display: none;" id="chat8">
                        <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">8t?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
                    <div class="chat"style="display: none;" id="chat9">
                        <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">9?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
              <div class="chat"style="display: none;" id="chat10">
                <img class="chat_avatar" src="./static/robo.avif">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">10?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
              
              <div class="chat"style="display: none;" id="chat11">
                <img class="chat_avatar" src="./static/queue.png">
                 <div class="chat_info">
                   <div class="contact_name">Patric Venturini </div>
                   <div class="contact_msg">11?  </div>
                 </div>
                 <div class="chat_status">
                   <div class="chat_date">Yesterday</div>
                    
                 </div>
              </div>
            </div> <!-- phonebody -->
            
            <div class="phone_footer">
              <div class="footer_divider grad_pb"> </div>
            </div>
          </div>
          
        
        </div>

    </fieldset>
</form>



{% if RodzajUmowy == "sprzedaz" %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var nextButton = document.querySelector('.next');
        var nextButton2 = document.querySelector('.next2');
        var subtitle = document.getElementById('step1-subtitle');
        var spinner = document.querySelector('.lds-spinner');
        var timer;

        // Store original content
        var originalSubtitle = subtitle.textContent;
        var originalSpinner = spinner.cloneNode(true); // Clone the spinner element

        if (nextButton && subtitle && spinner) {
            nextButton.addEventListener('click', function () {
                // Assuming validateForm is a function that returns true or false
                
                

                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        var newElement = document.createElement('div');
                        newElement.className = 'success-checkmark';
                        
                        // Check if the message contains "jestem"
                         // Implement this function to check the message content
                        
                        if (jestemVariable === true) {
                            newElement.innerHTML = `
                            <div class="check-icon">
                                  <span class="icon-line line-long"></span>
                           <span class="icon-line line-tip"></span>
                                   <div class="icon-circle"></div>
                                <div class="icon-fix"></div>
                            </div>`;
                            subtitle.textContent = 'New Subtitle';
                            nextButton2.click();
                        } else {
                            newElement.innerHTML = `
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark_circle" cx="26" cy="26" r="25" fill="none"/>
                                <path class="checkmark_check" fill="none" d="M14.1 14.1l23.8 23.8 m0,-23.8 l-23.8,23.8"/>
                            </svg>`;
                            subtitle.textContent = 'Połączenie Nieudane';
                        }

                        spinner.parentNode.replaceChild(newElement, spinner);

                    }, 3000); // Changed to 5000 milliseconds (5 seconds)
                
            });
        }
    });
</script>

{% else %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var nextButton2 = document.querySelector('.next2');
    var nextButton = document.getElementsByName('nextButton33, next, create')[0]; // Select the first element with the name "nextButton"
    var subtitle = document.getElementById('step1-subtitle');
    var spinner = document.querySelector('.lds-spinner');
    var timer;

      // Store original content
      var originalSubtitle = subtitle.textContent;
      var originalSpinner = spinner.cloneNode(true); // Clone the spinner element

      if (nextButton && subtitle && spinner) {
          nextButton.addEventListener('click', function () {
              // Assuming validateForm is a function that returns true or false
              
              

                  clearTimeout(timer);
                  timer = setTimeout(function () {
                      var newElement = document.createElement('div');
                      newElement.className = 'success-checkmark';
                      
                      // Check if the message contains "jestem"
                       // Implement this function to check the message content
                      
                      if (jestemVariable === true) {
                          newElement.innerHTML = `
                          <div class="check-icon">
                                <span class="icon-line line-long"></span>
                         <span class="icon-line line-tip"></span>
                                 <div class="icon-circle"></div>
                              <div class="icon-fix"></div>
                          </div>`;
                          subtitle.textContent = 'New Subtitle';
                          nextButton2.click();
                      } else {
                          newElement.innerHTML = `
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                              <circle class="checkmark_circle" cx="26" cy="26" r="25" fill="none"/>
                              <path class="checkmark_check" fill="none" d="M14.1 14.1l23.8 23.8 m0,-23.8 l-23.8,23.8"/>
                          </svg>`;
                          subtitle.textContent = 'Połączenie Nieudane';
                      }

                      spinner.parentNode.replaceChild(newElement, spinner);

                  }, 3000); // Changed to 5000 milliseconds (5 seconds)
              
          });
      }
  });
</script>


{% endif %}








<script>
    var nextButton2 = document.querySelector('.next2');

    nextButton2.addEventListener('click', function () {
        // Function to remove the "display: none;" style for a chat div by its ID
    function showChat(chatId) {
        var chatDiv = document.getElementById(chatId);
        chatDiv.style.removeProperty("display");
		var elem = document.getElementById('Chatdata');
		elem.scrollTop = elem.scrollHeight;
    }
    
    // Set a timeout to remove the "display: none;" style for chat1 after 1 second (1000 milliseconds)
    setTimeout(function() {
        showChat("chat1");
    }, 1000);

    // Set a timeout to remove the "display: none;" style for chat2 after 2 seconds (2000 milliseconds)
    setTimeout(function() {
        showChat("chat2");
    }, 2000);
	
	    setTimeout(function() {
        showChat("chat3");
    }, 3000);
	
	    setTimeout(function() {
        showChat("chat4");
    }, 4000);
	
	    setTimeout(function() {
        showChat("chat5");
    }, 5000);
	
		    setTimeout(function() {
        showChat("chat6");
    }, 6000);
	
		    setTimeout(function() {
        showChat("chat7");
    }, 7000);
	
		    setTimeout(function() {
        showChat("chat8");
    }, 8000);
	
		    setTimeout(function() {
        showChat("chat9");
    }, 9000);
	
		    setTimeout(function() {
        showChat("chat10");
    }, 10000);
	
		    setTimeout(function() {
        showChat("chat11");
    }, 11000);
});
</script>
  

<script>
  var nextButton2 = document.querySelector('.next2');

nextButton2.addEventListener('click', function () {
// Function to replace the div with the button form
function replaceDivWithButton() {
  const divToReplace = document.querySelector('.footer_divider.grad_pb');

  if (divToReplace) {
      // Create a new form element
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/download_files';

      // Create an input element for folder_name
      const folderNameInput = document.createElement('input');
      folderNameInput.type = 'hidden';
      folderNameInput.name = 'folder_name';
      folderNameInput.value = '{{room}}';

      // Create a button element
      const button = document.createElement('button');
      button.type = 'submit';
      button.className = 'btn-grad';
      button.value = 'Click Me';

      // Append the input and button to the form
      form.appendChild(folderNameInput);
      form.appendChild(button);

      // Replace the div with the form
      divToReplace.replaceWith(form);
  }
}



</script>



 {% endblock %}
